@charset "UTF-8";
/* CSS Document */

.alaPar{display: inline-block; vertical-align: top;}
.mr-2{margin-right: 2em !important;}
.mt-05{margin-top: 0.5em !important; }
li a:hover{background-color: #8D712F !important; color: #eee !important; }
.fondo-institucional {background-color: #822B30 !important;}
