
.rojo-morena{background-color: #822B30 !important;}
.border-bottom-color-rojo-morena{border-bottom-color: #822B30 !important;}
.text-color-rojo-morena{color : #822B30 !important;}

.em5{width: 5em !important;}
.em6{width: 6em !important;}
.em7{width: 7em !important;}
.em8{width: 8em !important;}
.em9{width: 9em !important;}
.em10{width: 10em !important;}
.em15{width: 15em !important;}
.em20{width: 20em !important;}
.em25{width: 25em !important;}
.em30{width: 30em !important;}
.em35{width: 35em !important;}
.em40{width: 40em !important;}
.em45{width: 45em !important;}
.em50{width: 50em !important;}

